{% include 'fragments/_flashed-msgs.html' %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 col-12">
      <form 
          class="form py-4 px-2" 
          method="post"
          hx-target="#content"
          hx-boost="true" 
          hx-post="{{ url_for('auth.forgot_password') }}" 
          hx-indicator="#indicator">
        <h3 class="text-center mb-4">&#x2015; Forgot password &#x2015;</h3>
        {{ form.csrf_token }}
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          {{ form.email(id="email", class="form-control", placeholder="email@example.com") }}
        </div>
        <div class="text-center mb-4">
          <button type="submit" class="btn px-5">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>