{% include 'fragments/_flashed-msgs.html' %}

<div class="container-fluid px-0 mx-0">
  <form 
      hx-target="#content"
      hx-boost="true" 
      hx-post="{{ endpoint }}" 
      hx-indicator="#indicator"
      hx-encoding="multipart/form-data"
      method="post" 
      enctype="multipart/form-data">
    {{ form.csrf_token }}
    
    <div class="banner">
      <img src="{% if img_url %}{{ img_url }}{% endif %}" id="img-preview" class="img-preview">
      {{ form.image(id="banner-upload", class="img-upload", hidden="true", accept="image/*", onclick="imgUpload()") }}
      <label for="banner-upload" class="banner-upload-btn">
        <span class="material-icons">upload</span>
      </label>
    </div>

    <div class="blog">
      {{ form.title(class="title", id="post-title", placeholder='Post Title...') }}
      {{ form.body(class="article", id="post-body", placeholder='Start writing here...') }}
    </div>
    
    <div class="blog-options">
      <button class="btn btn-success me-3 px-5">Publish</button>
      <a href="#" class="btn btn-warning me-3 px-5" onclick="previewPost()">Preview</a>

      {{ form.image(id="image-upload", class="img-upload", hidden="true", accept="image/*", onclick="imgUpload()") }}
      <label for="image-upload" class="btn btn-secondary px-4">Upload Image</label>

      {{ form.category(class="form-select form-select-sm ms-3", style="max-width:140px;") }}
    </div>
  </form>

  <!-- error image upload modal -->
  <div id="upload-err" class="modal fade" style="color:#000;">
    <div class="modal-dialog">
      <div class="modal-content bg-warning border-0">
        <div class="modal-header border-bottom border-dark">
          <span class="material-icons me-2">error_outline</span>
          An Error ocurred
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Image shouldn't be larger than 1 MB.</div>    
      </div>
    </div>
  </div>

  <!-- preview post modal -->
  <div id="preview-post" class="modal fade" style="color:#000;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"></h1>
        </div>
        <div class="modal-body"></div>    
      </div>
    </div>
  </div>
</div>
