<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Mosaic</title>
    <!-- Third-party CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/material-icons/iconfont/material-icons.css') }}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link id="theme" rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    {% endblock %}
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <!-- loading indicator -->
        <img id="indicator" class="htmx-indicator" src="{{ url_for('static', filename='images/clouds-spinner.gif') }}"/>

        {% include 'fragments/_navbar.html' %}

        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer class="border-top text-center pt-2 mt-3">All rights reserved &copy 1990</footer>
    </div>
    
    {% block scripts %}
    <!-- Third party JS-->
    <script src="{{ url_for('static', filename='node_modules/htmx.org/dist/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/showdown/dist/showdown.min.js') }}"></script>
    <!-- App JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/createPost.js') }}"></script>
    {% endblock %}
  </body>
</html>